@function size($val){
    @return ($val / 16) * 1rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #b79ee4 !important;
    height: fit-content;
    width: fit-content;
    padding: size(10);
    box-shadow: -7px 7px 11px 1px #00000040;
    border-radius: size(10);
    color: #FFF;
}

input {
    border: none;
    outline: none;
    box-shadow: -7px 7px 11px 1px #00000040;
    
}


.app_container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}